aiohttp
black
bleach
blinker
coverage
Cython
environ-config
Faker
falcon
Flask
Flask-Injector
Flask-OpenTracing
freezegun
gunicorn
inflection
hy
injector
ipdb
ipython
jaeger-client
mutmut
mypy
objgraph
opentracing
prometheus-client
pytest
redis
redis-opentracing==0.1.2
requests
sentry-sdk
watchdog
Werkzeug<2.0.0
zope.interface
